*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.main{
    margin: 70px 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;   
    width: 300px;
}

.bulb{
    height: 250px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bulb i{
    font-size: 200px;
}

#btn{
    width: 80px;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background-color: whitesmoke;
}
